
#show-number{
    text-align: center;
    color: red;
}

h1{
    text-align: center;

}
.container{
    margin: 150px;
    background-color: black;
    text-align: center;
    color: hotpink;
    border-radius: 4px;
    border: 1px solid hotpink;
    
}

body{
    background-image: url("https://cdn.wallpapersafari.com/66/71/Lki0pd.jpg");
}

.choice{
    border: 1px solid hotpink;
    padding: 10px;
    border-radius: 4px;
    text-size-adjust: 10px;
    width: 278px;
    text-align: center;
    background-color: black;
    float: left;
    margin: 20px 0px 0px 60px; 


}

#start{
    color: hotpink;
    text-size-adjust: 20px;
}

.btn-primary{
    background-color: black;
    border-color: hotpink;
}
.btn-primary:hover{
    background-color: black;
    border-color: hotpink;
}

#reset{
    color: hotpink;
}

button{
    width: 300px;
    

}

#game{
    text-align: center;
    padding-bottom: 10px;
}



