
#show-number{
    text-align: center;
    color: red;
}

h1{
    text-align: center;

}
.container{
    margin: 150px;
    background-color: white;
    text-align: center;
    
}

body{
    background-image: url("https://img.freepik.com/free-vector/80-s-geometric-background-flat-design_23-2148233143.jpg?size=1600&ext=jpg");
    
}

.choice{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 4px;
    text-size-adjust: 10px;
    width: 278px;
    text-align: center;
    background-color: white;
    float: left;
    margin: 20px 0px 0px 60px; 


}

#start{
    color: hotpink;
    text-size-adjust: 20px;
}

.btn-primary{
    background-color: black;
    border-color: hotpink;
}
.btn-primary:hover{
    background-color: black;
    border-color: hotpink;
}

button{
    width: 300px;
    

}

#game{
    text-align: center;
    padding-bottom: 10px;
}

